<h2><b>Registration Page</b></h2>

<form method="get" action="Result">

    <p><b>User Name: </b></p><input name="userName" value="kcmollhagen" required />
    <br />
    <p><b>Email: </b></p><input name="email" type="email" value="kcmollhagen@gmail.com" required />
    <br />
    <p><b>Password: </b></p><input name="password" type="password" value="superSecretGoodPassword!1" required />
    <br />
    <p><b>Age: </b></p><input name="age" value="35" required />
    <br />

    <input type="submit" />
</form>
